<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div>
  <h2>Look up order by number.</h2>
  <input #ordernum type='text' placeholder="Order number" (keyup.enter)="getOrderByNumber(ordernum.value)"  />
  <button (click)="getOrderByNumber(ordernum.value)">Get order</button>
  <br><label *ngIf="error">{{error.error}}</label>

  <table border=1 cellpadding=2 *ngIf="lines">
    <thead>
    <tr>
      <th>SKU</th>
      <th>Description</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>TotalPrice</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let line of lines" app-order-display-line [line]="line">
    </tr>
    </tbody>
  </table>

</div>

