<td>{{line.sku}}</td>
<td *ngIf="product">{{product.description}}</td>
<td *ngIf="!product">{{error.error}}</td>
<td *ngIf="product">${{product.unitPrice | number:'.2-2'}}</td>
<td *ngIf="!product">N/A</td>
<td>{{line.quantity}}</td>
<td *ngIf="product">${{product.unitPrice * line.quantity | number:'.2-2'}}</td>
<td *ngIf="!product">N/A</td>
